# bash

# systemctl daemon-reload

# systemctl enable avito-promotion@1.service
# systemctl disable avito-promotion@1.service

# systemctl start avito-promotion@1.service
# systemctl restart avito-promotion@1.service
# systemctl stop avito-promotion@1.service

[Unit]
Description=avito-promotion
StartLimitBurst=5
StartLimitIntervalSec=0

[Service]
ExecStart=php /.....PATH_TO_PROJECT..../bin/console messenger:consume avito-promotion avito-promotion-low --memory-limit=128m --time-limit=3600 --limit=1000
Restart=always

User=unit
Group=unit

[Install]
WantedBy=default.target
